.main-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--dark-color);
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFF;
    position: absolute;
    width: 1348px;
    height: 55px;
    left: 0px;
    top: 600px;
}

.footer-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footer-icons>* {
    margin-right: 5px;
}